KERNEL=="bcache0", ATTR{bcache/cache_mode}="writethrough", ATTR{bcache/sequential_cutoff}="0", \
    ATTR{bcache/cache/congested_read_threshold_us}="0", ATTR{bcache/cache/congested_write_threshold_us}="0"
